<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212756073598-lnht6vgvc538jf98kludu4peb28dls0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212756073598-lnht6vgvc538jf98kludu4peb28dls0f</string>
	<key>API_KEY</key>
	<string>AIzaSyAXG73pNIAzhGgSmajwCDTKMAs7Sb3iM1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>212756073598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>edelsten-e80d4</string>
	<key>STORAGE_BUCKET</key>
	<string>edelsten-e80d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212756073598:ios:5f6125db47a44f86d2dc2f</string>
	<key>DATABASE_URL</key>
	<string>https://edelsten-e80d4.firebaseio.com</string>
</dict>
</plist>